html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}
/* To check */
* {
  cursor: url('../public/RAMA_cursor.png'), auto !important; 
}

*:hover{
  cursor: url('../public/RAMA_cursor.png'), pointer !important;
}

* {
  box-sizing: border-box;
}
